/* add CSS class and element and selectors here */

body {
  background: linear-gradient(#FF06C1, #E8FB5A);
  font-family: '', cursive;
  color: #E8FB5A;
  font-size: 200%;

}

h1 {
  text-align: center;
}

